version: '3.8'

services:
  monitor:
    build: .
    container_name: my-monitor
    ports:
      - "9090:8080"
    env_file:
      - .env
    volumes:
      - ./config:/app/config
      - ./src:/app/src
    restart: always
